.app-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

nav {
    justify-content: center;
    align-items: center;
    text-align: center;
	width: 100%;
	height: 50px;
	background-color: white;

}

nav ul {
	padding: 10px 20px;
}

nav ul li {
	display: inline-block;
	width: 150px;
	text-align: center;
	padding: 5px 0px;
}

nav ul li:hover {
	background-color: rgb(247, 142, 224);
    a {
        color: white;
    }
}

nav ul li a {
	text-decoration: none;
	font-size: 1.1em;
	color: rgb(247, 142, 224);
	font-weight: bold;
}